.IndexRowArrangement{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding:5px;
    text-align: center;
    margin-top:30px;
    height:30px;
    margin-bottom:30px;
    div{
        width:10%;
    }
}
.ItemRowArrangement{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    height:30px;
    text-align: center;
    margin-top:40px;
    margin-bottom: 40px;
    div{
        height:100%;
        width:10%;
    }
}


.ItemColumnArrangement{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    div{
        margin-top:20px;
        margin-bottom: 20px;
    }
}
.positiveNumber{
    color:green;
}
.negativeNumber{
    color:red;  
}
